<ion-header>
  <ion-toolbar>
      <ion-item lines="none">
          <ion-buttons (click)="back()">
              <ion-icon name="arrow-back"></ion-icon>
      
            </ion-buttons>
            <ion-title class="title">Cidades</ion-title>
          </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list *ngFor="let p of cidades" >
     
        <ion-item >
    
          <ion-label (click)='estado(p)' >{{p.nome}}
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
