<ion-header>
    <ion-toolbar>
              
      <ion-title class="title">Principal</ion-title>
    
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  <div class="btnPincial">
   
      <ion-button color="primary" (click)='categoria()'>Categ.</ion-button>
      <ion-button color="primary" (click)='regiao()'>Região</ion-button>
      <ion-button color="primary" (click)='filtro()'>Filtros</ion-button>
   
    </div>
      <ion-card>
        <div>
          <ion-card>
      </ion-card>
      <ion-text>Aqui terar a foto com o anucio do prestador</ion-text>
      </div>
      </ion-card>
  </ion-content>
  
        