<ion-header>
  <ion-toolbar>
    
   
      <ion-buttons (click)="back()" slot="start" >
          <ion-back-button defaultHref="" class="btnTitle"></ion-back-button>
        </ion-buttons>
      <ion-title class="title">Filtro</ion-title>
   
    
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <div class='filtro'>
    <ion-item >
    <ion-label>Valor Minimo:</ion-label>
    <ion-input type="number">
  </ion-input>
</ion-item>
  </div>
  <div class='filtro'>
    <ion-item >
  <ion-label>Valor Maximo:</ion-label>
    <ion-input type="number">
  </ion-input>
</ion-item>
</div>

<ion-button>Filtrar
</ion-button>

</ion-content>
