<ion-header>
  <ion-toolbar>
    
   
    <ion-item lines="none">
    <ion-buttons (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>

      </ion-buttons>
      <ion-title class="title">Filtro</ion-title>
    </ion-item>
    
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <div class='filtro'>
    <ion-item >
    <ion-label>Valor Minimo:</ion-label>
    <ion-input>
  </ion-input>
</ion-item>
  </div>
  <div class='filtro'>
    <ion-item >
  <ion-label>Valor Maximo:</ion-label>
    <ion-input>
  </ion-input>
</ion-item>
</div>

<ion-button>Filtrar
</ion-button>

</ion-content>
