
  .title{
    margin-left: 43px
}
.btnTitle{
    margin-left: -10px;
}
.txtFoto{
    text-align: center;
}
.descricao{
    height: 90px;

    
}
.bottonAv{
    text-align: center;
}
.referenciTelefone{
    width: 70px;
}
.referenciNome{
    width: 70px;
}
.slides{
    height: 80px;
}
.card{
    height: 40px;
    width: 70px;
    
}
