
    
      <ion-header>
          <ion-toolbar>
              <ion-item lines="none">
                  <ion-buttons (click)="back()">
                      <ion-icon name="arrow-back"></ion-icon>
              
                    </ion-buttons>
                    <ion-title class="title">Login</ion-title>
                  </ion-item>
            
          </ion-toolbar>
        </ion-header>
        
        <ion-content>

            <div>
                <ion-item lines="none">
              
                  <ion-text>Usuario:</ion-text>
              <ion-input></ion-input>
              </ion-item>
              </div>
        <div>
          <ion-item lines="none">
            <ion-text>Senha:</ion-text>
        <ion-input></ion-input>
        </ion-item>
        </div> 
        <div class="btnCadastro">
            <ion-button> Facebook</ion-button>
            <ion-button> Google</ion-button>
            <ion-button> Cadastrar
            </ion-button>
        </div>
        <div class="btnLogin">
        <ion-button (click)="login()" > Login</ion-button>
        </div>
        
        </ion-content>
        