<ion-header>
  <ion-toolbar>
      <ion-item lines="none">
          <ion-buttons (click)="back()">
              <ion-icon name="arrow-back"></ion-icon>
      
            </ion-buttons>
            <ion-title class="title">Região</ion-title>
          </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div >
    <div>
        <ion-item lines="none" > 
      <ion-label>
        {{teste}}
      </ion-label>
        </ion-item>
      </div>
</div>
<ion-button (click)='bonton()'>estando</ion-button>

</ion-content>
