<ion-header>
  <ion-toolbar>

      <ion-item lines="none">
          <ion-buttons (click)="back()">
              <ion-icon name="arrow-back"></ion-icon>
      
            </ion-buttons>
            <ion-title class="title">Favorito</ion-title>
          </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    
    <ion-card>
      <div>
        <ion-card>
    </ion-card>
    <ion-text>Aqui terar a foto com o anucio do prestador</ion-text>
    </div>
    </ion-card>
</ion-content>
